<!DOCTYPE html>
<html>

<head>
    <title> Rocketships </title>
    <script src="js/jQuery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/angellist.js"></script>
    <script src="js/startups.js"></script>
    <script src="js/mainControl.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="main" ng-app="rocketships">
        <div class="page-header" ng-model="yourName">
            <h1>Rocketship or dud?</h1>
        </div>
        <div ng-controller="mainController" ng-model="speed">
            <h3> {{companyName}} is growing at a rate of ${{speed}} million/year in funding, which is <span id="rate"> {{rate}} </span> </h3>
            <canvas id="myChart" width="1200" height="600"></canvas>
            <form name='companyForm' ng-submit="addCompany()">
                <input type="text" ng-model="companyName" placeholder={{companyName}} />
                <input type="submit" id="submit" value="Submit" />
            </form>
        </div>
    </div>
</body>

</html>
